/* This stylesheet is where to add styles for your Shakespeare Play */
/*We usually add something general for the body*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /*your style rules go in here */
}

section {
  border: 0;
}

/*Here follows the class names that you will have in your html*/
/*You may have more if you added styles in InDesign*/
/*You need to add the style attributes between the curly brackets*/

/* the following may not be used but it doesn't matter if they are listed here  */

section.cover {
  text-align: center;
  width: 70%;
  margin: 20px auto;
}

img.playimage {
  /* you will need a width attribute in here */
  max-width: 50%;
  padding: 20px auto;
}

img.shakespeareimage {
  /* you will need a width attribute in here */
  max-width: 40%;
  padding: 20px auto;
}

/* If you have created any new stlyes in InDesign and used export tags then you need to add them here */

section.dramatis {
}
section.play {
}
div.sceneImage {
}
h1.act {
}
p.character {
}
p.charactername {
}
h1.dramatishead {
}
h2.firstscene {
}
h2.location {
}
p.play_location {
}
p.prose {
}
h2.scene {
}
p.song {
}
h2.stagedirection {
}
p.verseline {
}
span.character_role {
}
span.stage_directions_inline {
}

span.character_beforespeech {
}
body{
  text-align: center;
background-color: wheat;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
  background-color: rgb(5, 49, 12);
border: 2px solid black;

display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
width: 60%;
margin: 0 auto;

}

figure {
  flex-basis: 200px;
  flex-grow: 1;

}
.info {
  color: white;
  padding: 1em;
  flex-basis: 200px;
  flex-grow: 1;
}
header {

}
h1 {
  background-color: rgb(10, 85, 28);
  color: white;
  margin: 0 auto;
  font-size: 3em;
  text-align: center;
  width: 60%;
}
h1, h2 { font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  margin-bottom: 0.5em;
}

p {

text-align: justify;
font-size: 1.2em;

}
.first {
  padding-top: 2em;
  padding-bottom: 2em;
}

img {
  width: 100%;
  display: block;

}


.center {
  text-align: left;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  font-size: 1.2em;
}
nav    {
  display: block;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(238, 130, 238, 0.829);
  font-size: 0.8em;
  z-index: 100;
  }
  input[type="checkbox"] {
    display: none;
  }
  .hamburger {
    display: none;
    font-size: 2rem;
    color: black;
  }
  nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul li {
  flex: 0 0 10.5rem; /*the same as flex-grow. flex-shrink, flex-basis*/
  text-align: center;
  }
  li.Homepage {
    margin-right: auto;
  }

nav ul li a {
text-decoration: none;
padding: 0.8rem 1rem;
display: block;
}

nav ul li:hover {
background-color: rgb(8, 119, 126);
}

nav ul li a:hover {
color: white;
}

li ul {
display: none;
position: absolute;
background-color: rgb(8, 119, 126);
}

nav ul li:hover ul {
display: flex;
flex-direction: column;
}

nav ul li ul li {
flex: 0 1 auto;
width: 8rem; /*the same value as the flex-basis for parent li*/
}
.playlink {
  border: 1px solid black;
  background-color: wheat;
  margin-top: 1em;
  text-align: center;
  padding: 0.2em;
  font-size: 2em;
}
.playlink:hover {
  background-color: rgba(0, 0, 0, 0.185);
}
.playlink a {
  text-decoration: none;
 
}
@media screen and (max-width: 400px) {

.info {
  font-size: 0.6;
}
nav ul {
  display: none;
  flex-direction: column;
}
#toggle:checked ~ #menu{
  display: block !important;
}

}
.hamburger {
  display: block;
  float: right;
  cursor: pointer;
}
input[type="checkbox"]:checked ~ ul {
display: block;
}
li ul {
position: static;
}
nav ul li {
flex: 0 0 auto; /*the same as flex-grow, flex-shrink, flex-basis */
width: 100%;
}


}